<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2FL2Zx1un2EbZ2CkEUCY03m93ilmr_VjI9o6LmDF1BsXNgIezlxZPf2b5UMfEFtMFNMY&usqp=CAU" />
    <title>{% block title %}NVIDIA{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`and uncomment the following Encore helpers to start using Symfony UX #}

    <!-- Axentix CSS minified version -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.3.3/dist/css/axentix.min.css"> -->
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">#}
    <script src={{ asset('style.js') }}></script>
    <style>
        body{
            background: #0a0a0a !important;
        }


    </style>
</head>

<body>
<header>
    <nav class="div">
            <div class="bg-black">
                <div class="text-white">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="{{ path('accueil') }}">
                                <img src="https://images.evga.com/articles/01371/RTX_Logo.jpg"
                                     height="100px" width="310px">
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarScroll">
                                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
                                    style="--bs-scroll-height: 100px;">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="{{ path('accueil') }}"><h4>GEFORCE</h4></a>
                                    </li>
                                    <h5>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('accueil') }}">Produits</a>
                                        </li>
                                    </h5>
                                    <h5>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('home') }}">Nouveautés</a>
                                        </li>
                                    </h5>
                                    <h5>
                                        <li class="nav-item">
                                            <a class="nav-link disabled">A propos</a>
                                        </li>
                                    </h5>
                                </ul>
                                <form class="d-flex">
                                    <input class="form-control me-2 disabled" type="search" placeholder="Recherche"
                                           aria-label="Recherche">
                                    <button class="btn btn-outline-success disabled" style="color: #76FF03" type="submit">
                                        Recherche
                                    </button>
                                </form>
                            </div>
                        </div>
                    </nav>


                </div>
            </div>
        </div>

    </nav>
</header>

<main class="main">
    {% block body %}{% endblock %}
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
<!-- Axentix JS minified version -->
<script src="https://cdn.jsdelivr.net/npm/axentix@1.3.3/dist/js/axentix.min.js"></script>
{% block javascripts %}{% endblock %}

<!-- Footer -->
<footer class="footer primary bg-black text-center text-white div">
    <!-- Grid container -->
    <div class="container p-4">
        <br><br>
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://fr-fr.facebook.com/NVIDIAGeForceFR/"
               role="button"
            ><i class="fa fa-facebook-f"></i
                ></a>
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1"
               href="https://twitter.com/NVIDIAGeForceFR?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
               role="button"
            ><i class="fa fa-twitter"></i
                ></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1"
               href="https://www.nvidia.com/fr-fr/data-center/gpu-cloud-computing/google-cloud-platform/" role="button"
            ><i class="fa fa-google"></i
                ></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/nvidiageforcefr/?hl=fr"
               role="button"
            ><i class="fa fa-instagram"></i
                ></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/company/nvidia/"
               role="button"
            ><i class="fa fa-linkedin"></i
                ></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/NVIDIA" role="button"
            ><i class="fa fa-github"></i
                ></a>
        </section>
        <!-- Section: Social media -->

        <!-- Section: Form -->
        <section class="">
            <form action="">
                <!--Grid row-->
                <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>newsletter</strong>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example2" class="form-control"/>
                            <label class="form-label" for="form5Example2"></label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-outline-light mb-4">
                            Subscribe
                        </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->

        <!-- Section: Text -->
        <section class="mb-4">
            <p>
            </p>
        </section>
        <!-- Section: Text -->

        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fa fa-gem me-3"></i>Company NVIDIA
                    </h6>
                    <p>
                        NVIDIA, GeForce et GeForce RTX sont des marques commerciales et/ou des marques déposées de
                        NVIDIA Corporation aux États-Unis et dans d'autres pays.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <p>
                        <a href="{{ path('accueil') }}" style="color: #76FF03">About NVIDIA</a>
                    </p>
                    <p>
                        <a href="{{ path('home') }}" style="color: #76FF03">Technologies</a>
                    </p>
                    <p>
                        <a href="{{ path('home') }}" style="color: #76FF03">Investor</a>
                    </p>
                    <p>
                        <a href="{{ path('home') }}" style="color: #76FF03">NVIDIA Foundation</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="{{ path('home') }}" style="color: #76FF03">Forums</a>
                    </p>
                    <p>
                        <a href="{{ path('careers') }}" style="color: #76FF03">Careers</a>
                    </p>
                    <p>
                        <a href="{{ path('privacy') }}" style="color: #76FF03">Manage My Privacy</a>
                    </p>
                    <p>
                        <a href="{{ path('mention') }}" style="color: #76FF03">Legal</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fa fa-home me-3"></i>10 Av. de l'Arche, 92400 Courbevoie</p>
                    <p>
                        <i class="fa fa-envelope me-3"></i>
                        info@nvidia.com
                    </p>
                    <p><i class="fa fa-phone me-3"></i> + 01 55 63 84 90</p>
                    <p><i class="fa fa-print me-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1);">
        © 2021 NVIDIA Corporation:
        <a class="text-white" href="https://www.nvidia.com/fr-fr/geforce/">nvidia.com/fr-fr/geforce/</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

</body>
</html>