{% extends 'base.html.twig' %}
{% block body %}

    <table class="table table-black text-white">
        <thead>
        {#<th>id</th>#}
        <th>Carte Graphique</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Coeurs nvidia</th>
        <th>Frequence boost</th>
        <th>Capacite memoire</th>
        <th>Type memoire</th>
        <th>Taille memoire</th>
        <th>Resolution Numerique Max</th>
        <th>Longueur</th>
        <th>Largeur</th>
        </thead>

        {% for produit in detailsProduit %}
            <tbody>
            {#<td>{{ produit.id }}</td>#}
            <td>{{ produit.NomProduit}}</td>
            <td>{{ produit.descriptionProduit}}</td>
            <td>{{ produit.prixProduit}} €</td>
            <td>{{ produit.coeursNvidia}}</td>
            <td>{{ produit.frequenceBoost}}</td>
            <td>{{ produit.capaciteMem}}</td>
            <td>{{ produit.typeMem}}</td>
            <td>{{ produit.tailleIntMem}}</td>
            <td>{{ produit.resolutionNumMax}}</td>
            <td>{{ produit.longueurProduit}}</td>
            <td>{{ produit.largeurProduit}}</td>
            </tbody>
        {% endfor %}

    </table>
{% endblock %}
